# 개발 환경 설정 템플릿
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/toktot_dev
    username: YOUR_DEV_DB_USERNAME
    password: YOUR_DEV_DB_PASSWORD
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  sql:
    init:
      mode: always

# 개발용 로깅
logging:
  level:
    com.toktot: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE